.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}
ul li {
    display:inline-block;
    float: left;
}
.divider{
    width:35px;
    height:auto;
    display:inline-block;
    float: left;
}
